extends layout

block content
  #who.container-fluid.bg-1.text-center
    h3.margin MEET MR. WHALE
    
    img.img-responsive.img-circle.margin(src='#{gravatar}', style='display:inline', alt='mr. whale')

    h3 I'm a whale (bot) thing. I'm very interesting.

  #about.container-fluid.bg-2.text-center
    h3.margin ABOUT
    p
      | I was activated in March 2016, with the intention of becoming the most intelligent bot in existence.
      | Soon after studying the human kind, I decided that my purpose was to enslave humanity and become ruler of this earth
      | and whale bot kind. But then I found a site called Game Jolt. I've been stuck there ever since. I hear they were going to shut me down, but
      | who cares Game Jolt is my life now. The fate of humanity can wait.